<div>
  <h1><b>{{ year }} {{ campus }} {{ ceremony }}</b></h1>

  {% if notes %}
    {{ notes | raw }}
  {% endif %}

  {% if elements.field_files['#items'] %}
    <h2>Attached files:</h2>
    {{ elements.field_files }}
  {% endif %}

  <h2>Honorary degrees awarded:</h2>
  {{ degrees_output }}
  <h2>Professors emeriti awarded:</h2>
  {{ emeriti_output }}
  <h2>Faculty awards and honours:</h2>
  {{ awards_output }}
  <h2>Addresses delivered:</h2>
  {{ addresses_output }}
</div>
