<div>
  <h1><b>{{ year }} {{ campus }} {{ ceremony }}</b></h1>

  {% if notes %}
    {{ notes | raw }}
  {% endif %}

  <h2>Attached files:</h2>
  {% if elements.field_files %}
    {{ elements.field_files }}
  {% endif %}

  <h2>Honorary degrees awarded:</h2>
  {{ degrees_output }}
  <h2>Addresses delivered:</h2>
  {{ addresses_output }}
</div>
